[Unit]
Description=Backup important server files.

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/root/backup.sh
