[Unit]
Description=Renew Let's Encrypt certificates

[Service]
Type=oneshot

ExecStart=/opt/certbot renew --nginx --post-hook "/bin/systemctl reload nginx"
